@import '~open-color/open-color';
@import './reset.scss';

.App {
  display: flex;
  flex-direction: column;
  padding: 10px;
  width: fit-content;
  margin: auto;
}

.hidden {
  display: none;
}

.notice {
  margin: 5px;
  padding: 8px 10px;
  border-radius: 8px;
  border: 1px solid $oc-green-5;
  background-color: $oc-green-2;
  color: $oc-green-8;
  font-size: 0.85rem;
  font-weight: 400;
  display: inline-block;
}

.button {
  font-size: 1rem;
  font-weight: 600;
  color: #fff;
  padding: 10px 20px;
  border-radius: 3px;
  background-color: $oc-green-6;
  &:hover {
    background-color: $oc-green-8;
  }

  &.blue {
    background-color: $oc-blue-6;
    &:hover {
      background-color: $oc-blue-8;
    }
  }

  &.red {
    background-color: $oc-red-6;
    &:hover {
      background-color: $oc-red-8;
    }
  }
}

.wrapper {
  display: flex;
  margin-bottom: 10px;
  justify-content: center;
  .canvas {
    margin-right: 10px;
  }
  .student-utils {
    display: flex;
    flex-direction: column;
    align-self: stretch;
    height: 650px;
    flex: none;
    min-width: 150px;
    max-width: 200px;
    width: 100%;

    .student-list {
      flex: none;
      overflow-y: scroll;
      height: 100%;
      max-width: 200px;
      background-color: #fff;

      &::-webkit-scrollbar {
        width: 5px;
      }
      &::-webkit-scrollbar-track {
        background: $oc-gray-1;
      }
      &::-webkit-scrollbar-thumb {
        background: $oc-gray-5;
      }
      &::-webkit-scrollbar-thumb:hover {
        background: $oc-gray-6;
      }

      li {
        display: flex;
        justify-content: space-between;
        padding: 5px 2px;
        font-size: 13px;
        font-weight: 600;
        text-overflow: ellipsis;
        word-break: break-all;
      }

      button {
        background-color: $oc-red-6;
        color: white;
        font-weight: 600;
        font-size: 12px;
        border-radius: 5px;
        align-self: center;
        word-break: keep-all;
      }
    }

    .student-input {
      display: flex;
      margin-right: 5px;
      margin-bottom: 5px;
      width: 100%;

      input[type='text'] {
        width: 100%;
        padding: 5px;
      }
      .add-button {
        align-self: center;
        background-color: $oc-green-6;
        color: white;
        font-weight: 600;
        border-radius: 5px;
        &:hover {
          background-color: $oc-green-8;
        }
      }
    }
  }
}

.seat-utils {
  margin-bottom: 5px;
}

.load-seat {
  display: none;
}
